<!DOCTYPE html>
<html lang="en">

<head>
	<title>test</title>

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  

	<style>
		.center {
				  display: block;
				  margin-left: auto;
				  margin-right: auto;
				  width: 50%;
				}
	</style>



</head>

<body >

	<form action="/get_data" method="get">

	  <label for="x">X coordinate:</label><br>
	  <input type="number" step="any" id="x" name="x"><br>
	  <label for="y">Y coordinate:</label><br>
	  <input type="number" step="any" id="y" name="y"><br>
	  <label for="z">Z coordinate:</label><br>
	  <input type="number" step="any" id="z" name="z"><br>
	  <br>
	  <input type="submit" value="Submit">
	</form>
	<p>{{pnfo}}</p>
    <div class="row">
      <div class="column">
        <img src={{info}} class="center">
      </div>
    </div>

</body>
</html>
